---
title: Ranní chvály
---

h1 Ranní chvály

= partial 'psalm', locals: {psalm: psalms['zalm63']}
= partial 'psalm', locals: {psalm: psalms['kantikum_dan3iii']}
= partial 'psalm', locals: {psalm: psalms['zalm149']}

= partial 'psalm', locals: {psalm: psalms['kantikum_benedictus']}

- content_for :footer do
  = partial 'settings'
