---
title: Ranní chvály
---

h1 Ranní chvály

h2.hour-section Žalmy

= partial 'psalm', locals: {psalm: psalms['zalm63']}
= partial 'psalm', locals: {psalm: psalms['kantikum_dan3iii']}
= partial 'psalm', locals: {psalm: psalms['zalm149']}

h2.hour-section Zachariášovo kantikum

= partial 'psalm', locals: {psalm: psalms['kantikum_benedictus']}
