---
title: Modlitba uprostřed dne
---

h1 Modlitba uprostřed dne

- 1.upto(3) do |i|
  = partial 'psalm', locals: {psalm: psalms['zalm118' + 'i' * i]}

- content_for :footer do
  = partial 'settings'
