// syllable mixins

%syl-accent-pointed
  font-weight: bold
%syl-preparatory-pointed
  font-style: italic

// verse part style applied always
.flex
  .accent-1
    @extend %syl-accent-pointed

// verse part mixins

@for $i from 1 through 2
  %vp-accent-#{$i}-pointed
    .accent-#{$i}
      @extend %syl-accent-pointed

%vp-accent-sliding-pointed
  .accent-sliding
    @extend %syl-accent-pointed
    text-decoration: underline

@for $i from 1 through 3
  %vp-preparatory-#{$i}-pointed
    .preparatory-#{$i}
      @extend %syl-preparatory-pointed

// classes applied to the whole psalm

$verse-parts: first, second

@each $part in $verse-parts
  @for $i from 1 through 2
    .pointing-#{$part}-accents-#{$i}
      .#{$part}
        @for $j from 1 through $i
          @extend %vp-accent-#{$j}-pointed

  .pointing-#{$part}-accent-sliding
    .#{$part}
      @extend %vp-accent-sliding-pointed

  @for $i from 1 through 3
    .pointing-#{$part}-preparatory-#{$i}
      .#{$part}
        @for $j from 1 through $i
          @extend %vp-preparatory-#{$j}-pointed
