%rubric { color: darkred; }
$text-color: #333;

body {
  color: $text-color;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  max-width: 40em;
  margin: 0 auto 0 auto;
}

nav {
  a { margin-right: 0.3em; }
}

footer {
  margin-top: 5em;
  font-size: 70%;
}

h1 { text-align: center; }

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.psalm-tone-selector {
  .psalm-tone {
    display: inline-block;
    margin-right: 1em; margin-bottom: 0.3em; white-space: nowrap;
    a { padding: 0.15em; }
    a.selected,
    &.selected strong { @extend %rubric; }
  }
}

#notation { margin: 0.5em 0 0.7em 0; height: 3.8em; max-width: 100%; }

.r { @extend %rubric; }

.psalm {
  .strophe {
    margin-bottom: 0.6em;
  }
  .verse { padding-left: 1em; text-indent: -1em; }
  .verse:first-line { text-indent: 0; }
}

.psalms-list {
  & > a,
  & > em,
  & > span { display: inline-block; margin: 0 0.2em; }
}

@media print {
  body { padding: 1rem 1rem; }
  nav, footer,
  .psalm-tone:not(.selected), .psalm-tone * { display: none; }

  // hide the psalm tone selector except of the selected tone
  .psalm-tone-selector { font-size: small; text-align: center; }
  .psalm-tone.selected {
    strong, a.selected { display: inline; color: $text-color !important; text-decoration: none; font-weight: normal; }
  }
}
