body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  max-width: 40em;
  margin: 0 auto 0 auto;
}

h1 { text-align: center; }

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.psalm-tone-selector {
  .psalm-tone {
    display: inline-block;
    margin-right: 1em; margin-bottom: 0.3em; white-space: nowrap;
    a { padding: 0.15em; }
  }
}

#notation { margin: 0.5em 0 0.7em 0; height: 3.5em; }

%rubric { color: darkred; }

.r { @extend %rubric; }

.psalm {
  .strophe {
    margin-bottom: 0.6em;
    .verse:last-child {
      .verse_part:last-child::after { @extend %rubric; content: " —"; }
    }
  }
  .verse { padding-left: 1em; text-indent: -1em; }
  .verse:first-line { text-indent: 0; }
}
