%a{
  href: '#',
  data: {
    'tone': tone['name'],
    'differentia': diff['name'],
    'image': diff['image'],
    'first-accents': tone['mediation']['accents'],
    'first-preparatory': tone['mediation']['preparatory'],
    'first-sliding': tone['mediation']['sliding'] ? 1 : nil,
    'second-accents': diff['accents'],
    'second-preparatory': diff['preparatory'],
    'second-sliding': diff['sliding'] ? 1 : nil
  }
}= yield
