---
title: Žalmy
---

<h1>
  Žalmy
</h1>

<p>
  Tento web chce být především
  <strong>pomůckou pro zpívanou Denní modlitbu církve,</strong>
  umožňující snadněji a jistěji
  <strong>zpívat žalmy a kantika na chorální nápěvy.</strong>
  Všechny žalmy a kantika se tu nabízejí
  s vyznačením přízvučných a přípravných slabik pro všechny
  varianty nápěvů a s barevným zvýrazněním veršů, které
  jsou pro ten který nápěv příliš krátké a při společném zpěvu
  mohou působit problémy.
  Připravit třeba jednoduché zpívané nešpory pro libovolný den
  ještě nikdy nebylo snazší!
</p>
<p>
  Tip: URL označkovaného žalmu funguje jako permalink -
  stačí vybrat nápěv, zkopírovat aktuální URL stránky
  a nasdílet dalším zpěvákům,
  aby všichni měli před sebou stejný žalm na stejný nápěv.
</p>
<p>
  Tip 2: kromě zpívání přímo z displeje web myslí i na to,
  aby žalmy vypadaly přijatelně také vytištěné
  a aby se daly i se značkováním zkopírovat do textového procesoru
  (LibreOffice Writer / MS Word / ...).
</p>
