---
title: Žalmy
---

<h1>
  Žalmy
</h1>

<p>
  Tento web nabízí žalmy a kantika Denní modlitby církve
  označkované pro zpěv na chorální nápěvy.
</p>

<ul>
  <% all_psalms.each do |ps| %>
  <li><%= link_to ps.title, ps.web_path %></li>
  <% end %>
</ul>
