---
title: Žalmy
---

<h1>
  Žalmy
</h1>

<p>
  Zpívat žalmy a kantika Denní modlitby církve
  na chorální nápěvy ještě nikdy nebylo snazší.
  Libovolný text označkovaný pro libovolný nápěv
  na pár kliknutí.
</p>
