---
title: Žalmy
---

<h1>
  Žalmy
</h1>

<p>
  Zpívat žalmy a kantika Denní modlitby církve
  na chorální nápěvy ještě nikdy nebylo snazší.
  Libovolný text označkovaný pro libovolný nápěv
  na pár kliknutí.
</p>

<% canticles, psalms = all_psalms.partition(&:is_canticle) %>

<h2>Žalmy</h2>
<ul>
  <% psalms.each do |ps| %>
  <li><%= psalm_link ps %></li>
  <% end %>
</ul>

<h2>Kantika</h2>
<ul>
  <% canticles.each do |ps| %>
  <li><%= psalm_link ps %></li>
  <% end %>
</ul>
