---
title: Žalmy
---

<h1>
  Žalmy
</h1>

<p>
  Tomu, kdo se chystá <strong>zpívat žalmy a kantika Denní modlitby církve</strong>
  na chorální nápěvy, je všechny nabízíme
  s vyznačením přízvučných a přípravných slabik pro všechny
  varianty nápěvů a s barevným zvýrazněním veršů, které
  jsou pro ten který nápěv příliš krátké.
  Připravit třeba jednoduché zpívané nešpory pro libovolný den
  ještě nikdy nebylo snazší.
</p>
<p>
  Tip: URL označkovaného žalmu funguje jako permalink -
  můžete ho zkopírovat a nasdílet dalším zpěvákům,
  aby všichni měli před sebou stejný žalm a stejný nápěv.
</p>
<p>
  Tip 2: kromě zpívání přímo z displeje web počítá i s tím,
  aby žalmy vypadaly dobře také po vytištění.
</p>
