---
title: Odkazy
---

<h1>Odkazy</h1>

<h2>Zpívaná denní modlitba církve</h2>
<h3>Podklady</h3>
<ul>
  <!--
  <li>
    <a href=""></a>
  </li>
  -->
  <li>
    <a href="http://breviar.cz/">breviar.cz</a>
    - kompletní texty Denní modlitby církve na každý den
  </li>
  <li>
    <a href="http://www.inadiutorium.cz/">In adiutorium</a>
    - nápěvy pro Denní modlitbu církve,
    u každé antifony je předepsán k ní patřící chorální nápěv žalmu.
    Přehled dalších dostupných zhudebnění.
  </li>
</ul>
<h3>Nahrávky</h3>
<ul>
  <li>
    <a href="https://www.youtube.com/playlist?list=PLOV7NYE8hRZSgOT38potQnfkcQE6oK2PS">Strahovský klášter</a>
  </li>
  <li>
    <a href="https://youtu.be/x7o6etFZFpA">Letní škola</a>
    <a href="https://youtu.be/W--gojWeBQA">liturgiky</a>
    (na chorální nápěvy jen ranní chvály)
  </li>
</ul>
<p>
  (Náš web nemá spojitost s žádnou z uvedených institucí.
  Odkazy na jejich nahrávky uvádíme jako ukázky,
  jak české žalmy zpívané na chorální nápěvy zní.)
</p>

<h2>Podobné/související projekty</h2>
<ul>
  <li>
    <a href="https://bbloomf.github.io/jgabc/psalmtone.html">Psalm Tone Tool</a>
    - webová aplikace značkující latinské a anglické texty žalmů
  </li>
  <li>
    <a href="https://singtheoffice.com/">Sing the Office</a>
    - texty a noty pro zpívané anglikánské oficium na každý den
  </li>
</ul>

<h2>Žalmy pro bohoslužbu slova</h2>
<ul>
  <li>
    <a href="http://sdh.cz/korejs/index.php">KorejsBuch</a>
    - Korejsovy responsoriální žalmy pro celý liturgický rok
  </li>
  <li>
    <a href="http://choral.sdh.cz/jikubuch/">JiKuBuch</a>
    - latinské responsoriální žalmy
  </li>
  <li>
    <a href="https://www.zaltar.cz/">Olejníkův žaltář</a>
  </li>
</ul>
