---
title: Odkazy
---

<h1>Odkazy</h1>

<h2>Zpívaná denní modlitba církve</h2>
<h3>Podklady</h3>
<ul>
  <!--
  <li>
    <a href=""></a>
  </li>
  -->
  <li>
    <a href="http://breviar.cz/">breviar.cz</a>
    - kompletní texty Denní modlitby církve na každý den
  </li>
  <li>
    <a href="http://www.inadiutorium.cz/">inadiutorium.cz</a>
    - nápěvy pro Denní modlitbu církve,
    zejm. vlastní nápěvy antifon a responsorií.
    U každé antifony je předepsán k ní patřící chorální nápěv žalmu.
    Přehled dalších dostupných zhudebnění.
  </li>
  <li>
    pro varhanní doprovod žalmů viz 8. sekci
    v <a href="https://www.ccwatershed.org/library/">St. Jean de Lalande Library of Rare Books</a>.
    Jako praktickou volbu snad lze doporučit knížku
    <a href="https://www.ccwatershed.org/2013/03/19/desrocquettes-accompaniments-psalms/">J. H. Desrocquettese</a>.
  </li>
</ul>
<h3>Nahrávky</h3>
<ul>
  <li>
    <a href="https://www.youtube.com/playlist?list=PLOV7NYE8hRZSgOT38potQnfkcQE6oK2PS">Strahovský klášter</a>
  </li>
  <li>
    <a href="https://youtu.be/x7o6etFZFpA?t=1428">Letní škola</a>
    <a href="https://youtu.be/W--gojWeBQA?t=1485">liturgiky</a>
  </li>
</ul>
<p>
  (Náš web nemá spojitost s žádnou z dotčených institucí.
  Odkazy na jejich nahrávky uvádíme jako ukázky,
  jak české žalmy zpívané na chorální nápěvy zní.)
</p>
<h3>Návody</h3>
<ul>
  <li>
    <a href="http://librinostri.catholica.cz/kniha/1192-gregoriansky-choral-interpretace">Jaroslav Orel: Gregoriánský chorál - interpretace (1996)</a>,
    s. 17nn.
  </li>
  <li>
    <a href="http://librinostri.catholica.cz/kniha/1188-uvod-do-studia-gregorianskeho-choralu">Miroslav Venhoda: Úvod do studia gregoriánského chorálu (1946)</a>,
    s. 102nn.
  </li>
</ul>

<h2>Podobné projekty</h2>
<ul>
  <li>
    <a href="https://bbloomf.github.io/jgabc/psalmtone.html">Psalm Tone Tool</a>
    - webová aplikace značkující latinské a anglické texty žalmů
  </li>
  <li>
    <a href="https://singtheoffice.com/">Sing the Office</a>
    - texty a noty pro zpívané anglikánské oficium na každý den
  </li>
</ul>

<h2>Žalmy pro bohoslužbu slova</h2>
<ul>
  <li>
    <a href="http://sdh.cz/korejs/index.php">KorejsBuch</a>
    - Korejsovy responsoriální žalmy pro celý liturgický rok
  </li>
  <li>
    <a href="http://choral.sdh.cz/jikubuch/">JiKuBuch</a>
    - latinské responsoriální žalmy
  </li>
  <li>
    <a href="https://www.zaltar.cz/">Olejníkův žaltář</a>
  </li>
</ul>
