---
title: Rejstřík
---

<h1>
  Rejstřík žalmů a kantik
</h1>

<p>
  Čísla žalmů sledují primární číslování v Denní modlitbě církve,
  tedy číslování podle hebrejské bible.
  Čísla podle Septuaginty neuvádíme.
</p>
<p>
  Web se omezuje na žalmy a kantika Denní modlitby církve,
  tzn. neobsahuje ty žalmy a verše, které liturgická reforma
  po Druhém vatikánském koncilu "z určité psychologické nesnáze"
  z breviáře vypustila. (Srov. VPDMC 131.)
  Texty, které v breviáři figurují opakovaně a dělené na menší oddíly
  různým způsobem, jsou naopak zařazeny vícekrát.
</p>

<% canticles, pss = psalms.all.partition(&:is_canticle) %>

<h2>Žalmy</h2>
<ul>
  <% pss.each do |ps| %>
  <li><%= psalm_link ps %></li>
  <% end %>
</ul>

<h2>Kantika</h2>
<ul>
  <% canticles.each do |ps| %>
  <li><%= psalm_link ps %></li>
  <% end %>
</ul>
